.MainLinkStyle {
  color: #ffff !important;
  text-decoration: none !important;
  font-weight: bolder;
}
.MainLinkStyle:hover {
  text-decoration: none;
  color: rgb(255, 153, 0) !important;
}

.logoText {
  font-size: x-large;
}
